.Rproj.user
.Rhistory
.RData
.*.Rnb.cached
_publish.R
_book
_bookdown_files
fpp.aux
fpp.out
fpp.fdb_latexmk
fpp.log
fpp.toc
fpp.fls
fpp.tex
libs/*
_bookdown_files/*
_book/*
bookdown/*
test/*
fpp.sublime*
Makefile
fpp_cache/*
fpp_files/*
fpp.Rmd
public/*
*.bak
