.book.font-family-1 {
  font-family: 'Droid Serif', Georgia, 'Times New Roman', Times, serif;
}

p.caption {
  color: #333333;
  margin-top: 10px;
  font-style: "italic";
  align-content: "center";
  background-color: #f7f7f7;
  font-family: "Droid Sans",Arial,Sans;
  padding-left: 20px;
}

p code {
  white-space: inherit;
}
pre {
  word-break: normal;
  word-wrap: normal;
}
pre code {
  white-space: inherit;
}

h1, h2, h3 {
  color: #3c6900;
  font-family: "Droid Sans",Arial,Sans;
}

a {
color: #3c6900;
}

.book-body ul, ol {
  margin: 0 0 0.8em;
}

dt {
  color: #3c6900;
}

dd {
  margin-bottom: 12px;
  margin-left: 20px;
  padding-left: 20px;
}

.book-body table {
  background: #ececec;
  border: 0px;
}

.book .book-body .page-wrapper .page-inner section.normal table td, .book .book-body .page-wrapper .page-inner section.normal table th {
  font-family: "Droid Sans",Arial,Sans;
  color: #000000;
  border: 1px;
  font-size: 11pt;
  height: 15px;
  padding: 0px;
  cellpadding="0";
  cellspacing="0";
  text-shadow: none;
  text-align: right;
}

.book .book-body .page-wrapper .page-inner section.normal th {
  background: #D9E6CA;
  font-weight: bold;
}

.book .book-body .page-wrapper .page-inner section.normal blockquote {
  quotes: none;
  text-shadow: none;
  background: #D9E6CA;
  padding:  5px 20px 2px 20px;
  color: #000000;
}

